<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes</title>
  <style>
    html {
      height: 62.5%;
    }

    body {
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      line-height: 1.4;
      text-align: center;
      background-image: url("https://external-preview.redd.it/z7_wYb9-YSvt0pDJlDIu8iuK_aWdqZPg0wvrGdwNvBw.png?width=1080&crop=smart&auto=webp&s=b51a1bf0f7fb0810d91edeaa1a4ba38bef4334c7");
      background-size: cover;
      background-repeat: repeat-y;
    }

    h1 {
      text-align: center;
      font-size: 2rem;
      margin: 2rem auto;
      display: block;
      border-radius: 2rem;
      padding: 2.4rem 3.2rem;
      background-color: #f42c2c;
      color: white;
      box-shadow: 0.1rem 0.5rem 0.5rem 0.1rem rgba(80, 80, 80, 0.553), inset 0rem 0rem 1rem 0.5rem #a00505b3;
      width: fit-content;
    }

    h2 {
      text-align: center;
      font-size: 0.2rem;
      margin: 2rem auto;
      display: block;
      border-radius: 1rem;
      padding: 2rem 1.9rem;
      background-color: #050505;
      color: white;
      box-shadow: 0.1rem 0.5rem 0.5rem 0.1rem rgba(80, 80, 80, 0.553), inset 0rem 0rem 1rem 0.5rem #037571b3;
      width: fit-content;
    }

    /* Contêiner das imagens para alinhá-las lado a lado */
    .img-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 2rem;
    }

    .img-pokemon {
      height: 12rem;
      padding: 0.5rem;
      background-image: url("https://i.pinimg.com/564x/32/b3/dd/32b3dd9ab04b94d686d9da7675cbd62d.jpg");
      box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.3);
      border-radius: 20%;
    }

    h1, h2, ul:first-child {
      text-transform: uppercase;
    }

    ul {
      text-align: center;
      padding: 0;
    }

    li.stats, li.tipo, li.hab {
      font-size: 1rem;
      display: inline-block;
      border-radius: 2rem;
      padding: 2.4rem 3.2rem;
      box-shadow: rgba(59, 58, 59, 0.303) 0px 5px, rgba(59, 58, 59, 0.303) 0px 10px;
      text-transform: capitalize;
      margin: 1rem 0;
    }

    .h2-stats, .h2-tipo, .h2-hab {
      text-transform: capitalize;
      font-size: 1.5rem;
      color: black;
      margin: 0.5rem auto;
      background-image: url("https://img.freepik.com/free-vector/grainy-gradient-texture_23-2148967280.jpg");
      background-size: cover;
      position: sticky;
      left: 1.5rem;
    }

    .stats {
      background-color: #fff700;
      color: rgba(0, 0, 0, 0.951);
    }

    .tipo {
      background-color: #d607e4;
      color: white;
    }

    .hab {
      background-color: #07e407;
      color: white;
    }

    footer {
      width: 100%;
      height: 10rem;
      background-color: white;
    }

    .glow-on-hover {
      position: fixed;
      bottom: 1.5rem;
      right: 1.5rem;
      width: 3rem;
      height: 3rem;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      z-index: 0;
      border-radius: 1rem;
      padding: 0.7rem;
      text-decoration: none;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -0.2rem;
      left: -0.2rem;
      background-size: 400%;
      z-index: -1;
      filter: blur(0.5rem);
      width: calc(100% + 0.4rem);
      height: calc(100% + 0.4rem);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 1rem;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }

    .img-wpp {
      width: 5rem;
    }
  </style>
</head>
<body>

  <!-- NOME DO POKEMON -->
  <h1><%= name %></h1>

  <!--IMAGENS DO POKEMON (NORMAL E SHINY)-->
  <div class="img-container">

    
    <img class="img-pokemon" src="<%= image %>" alt="<%= name %> Normal Image">
    <img class="img-pokemon" src="<%= image2 %>" alt="<%= name %> Shiny Image">
  </div>

  <!-- TYPE DO POKEMON -->
  <h2 class="h2-tipo">tipo pokemon</h2>
  <ul>
    <% types.forEach(function(type) { %>
      <li class="tipo"><%= type.type.name %></li>
    <% }); %>
  </ul>

  <!-- STATS DO POKEMON -->
  <h2 class="h2-stats">stats pokemon</h2>
  <ul>
    <% detalhes.forEach(function(stat) { %>
      <li class="stats"><%= stat.stat.name %>: <%= stat.base_stat %></li>
    <% }); %>
  </ul>

  <!-- HABILIDADES DO POKEMON -->
  <h2 class="h2-hab">habilidades</h2>
  <ul>
    <% abilities.forEach(function(ability) { %>
      <li class="hab"><%= ability.ability.name %></li>
    <% }); %>
  </ul>

  <!-- Botão para voltar -->
  <a class="glow-on-hover" href="/"> 👈 </a>

  <footer>
    <p>Todos os direitos reservados para Matheus Decol</p>
    <a href="https://w.app/fJY3UD">
      <img class="img-wpp" src="https://www.hashtagtreinamentos.com/wp-content/uploads/2023/06/whatsapp-logo-2.png" alt="Logo do WhatsApp">
    </a>
    <a href="https://github.com/Decolex">
      <img class="img-wpp" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Logo github">
    </a>
  </footer>

</body>
</html>
